@import "style dark.css";

body
{
	background: radial-gradient(#004b79,#000);
	min-height: min-content;
}

main
{
	margin-top: 0;
}

h2
{
	font-size: small;
}

input
{
	width: 12.5%;
}
#persons
{
	width: 80%;
	border: none;
}

.input-box
{
	width: 40%;
	display: inline-flex;
	background-color: white;
	border: #00abe1 3px solid;
	border-radius: 10px;
	margin: 0;
	padding: 0;
}

.nav-text h1
{
	margin: 10px 0 0 0;
}

.confirmed-box
{
	display: contents;
	background-color: rgba(0, 0, 0, 0.212);
	border-radius: 10px;
}
.confirmed-box img
{
	width: 10px;
	height: 10px;
	cursor: pointer;
}