body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15.5px;
	line-height: 1.5;

	padding: 0px;
	margin-top: 0px;

	background-color: #35424a;

	position: relative;
	min-height: 100vh;
}

main
{
	width: 80%;
	margin: auto;
	padding-top: 50px;
	position:sticky;
	overflow: hidden;
	z-index: 0;
	background-color: #CAE9FC;
}

footer
{
	padding-top: 2%;
	position: static;
	color: white;
	bottom: 0;
}

mark
{
	background: #361999;
	color: white;
}

#container
{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;
	align-content: center;
	min-height: 12vh; /* 17 is deafult */
}

/*Header*/
header
{
	position: static;
	z-index: 1;
	background: #35424a;
	color: white;
	width: 100%;
	border-bottom: #00abe1 3px solid;
}


header #text
{
	float: left;
	width: 75%
}

header #logo
{
	float: right;
}

header .highlight, header .current a {
	color: #00abe1;
	font-weight: bold;
}

/*nav*/
header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header a:hover
{
	color: #00abe1;
}

header ul {
	padding: 0;
	margin: 0;
}

header li {
	float: left;
	display: inline;
	padding: 0px 45px 15px 0;
	font-weight: bold;
}

header nav {
	float: left;
	margin-top: 10px
}

header label
{
	float: left;
}


/*logo*/
#logo img {
	display: flex;
	justify-content: top;
	align-items: top;
	height:160px;
}

/*Main in Page*/

main
{
	background-color: #2e3542;
	margin-top: 20px;
	padding: 20px;
	border: #00abe1 5px solid;
	border-style:solid;
}

h2
{
	color: #3E73DE;
	margin: 0px 0 5px 0;
	border-bottom: #00abe1 6px double;
}

h3, h4
{
	color: #3E73DE;
	margin: 0px 0 5px 0;
}


p
{
	color: white;
	margin: 0;
	padding-bottom: 25px;
}

q
{
	color: white;
}

a
{
	color: #00abe1;
}


.split
{
	margin: 15px 10px 15px 10px;
	border: #00abe1 2.5px solid;
}

main ul, ol
{
	background: #DE2868;
	border: #91133F 3px solid;
	color: white;
	width: 60%;
}

.center
{
	text-align: center;
}

.pp
{
	height: 40px;
	border-radius: 50%;
}

/** https://www.youtube.com/watch?v=tXiWZTg4aGE **/
.switch
{
	opacity: 0;
}
.switch-vis
{
	width: 80px;
	height: 40px;
	background: white;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.3);
}
.switch-vis::before
{
	content: '';
	position: absolute;
	height: 32px;
	width: 32px;
	background: #b3cbda;
	border-radius: 50%;
	left: 4px;
	top: 4px;
	transition: all 150ms ease-out;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
input[type=checkbox]:checked + .switch-vis::before
{
	left: 42px;
	background: #35424a;
}
input[type=checkbox]:checked + .switch-vis
{
	background: #7cff6b;
}

mark
{
	background-color: #3C414F;
	border-radius: 3px;
	padding: 2px;
}

.channel
{
	color: #6C7EB8;
}

#icons img
{
	height: 240px;
}

#percentImg
{
	height: 350px;
	position: left;
}

#numberImg
{
	height: 350px;
	position: right;
}

#floating-notice
{
	background-color: #00abe1;
	color: rgb(51, 51, 51);
	border: #d3d3d3 4px solid;
	border-radius: 0px;
	bottom: 20px;
	padding: 20px;
	position: fixed;
	z-index: 3;
	display:block;
}
#floating-notice img
{
	float: right;
	cursor: pointer;
}

/** Mobile Devices **/
@media only all and (max-width:768px)
{
	header
	{
		padding-top: 0px;
		min-height: 50px;
		text-align: center;
	}
	header a
	{
		align-content: center;
		font-size: 16px;
	}
	header #text
	{
		float: none;
		width: 75%
	}
	#container
	{
		width: 100%;
	}
    main
    {
        padding: 0;
		margin-top: 2px;
		background-color: #35424a;
		border: #00abe1 0px solid;
    }
    h1
    {
        font-size: 2em;
        padding-top: 0px;
        padding-left: 1.5em;
        width: 85%;
        text-align: center;
    }
    nav a
    {
		display:flex;
        padding: 0.5em;
        width: 10%;
        float: left;
        min-width: 63m;
        margin-left: 0.5em;
    }
	body
    {
        margin: 0px;
        padding: 0%;
    }
    #hero
    {
        display: none;
    }
    footer
    {
        padding: 0.5em;
        margin: 0;
    }
    #mobile {display: inline;}
    #desktop {display: none;}
}

footer
{
    font-size: 0.6em;
    text-align: center;
    font-style: italic;
}