body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15.5px;
	line-height: 1.5;

	padding: 10px;
	margin: 40px;

	background-color: #f4f4f4;

	position: relative;
	min-height: 100vh;
}

#c-info, #c-news {
	padding-bottom: 50px;
}

/*Global*/
#container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

main {
	width: 80%;
	margin: auto;
	overflow: hidden;
	min-height: 100%;
}

mark {
	background: #361999;
	color: white;
}

footer {
	position: absolute;
	bottom: 0;
}


/*Header*/
header {
	background: #35424a;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #00abe1 3px solid;
}

header #child1 {
	float: left;
	width: 75%
}

header #logo {
	float: left;
}


/*nav*/
header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul {
	padding: 0;
	margin: 0;
}

header li {
	float: left;
	display: inline;
	padding: 0 45px 15px 0;
}

header nav {
	float: left;
	margin-top: 10px
}


/*logo*/
#logo img {
	display: flex;
	justify-content: left;
	align-items: left;
	height:120px;
}

/*Main in Page*/

main{
	margin-top: 15px;
	padding: 15px;
	border: #00abe1 5px solid;
}

h2, h3, h4 {
	color: #361999;
	margin: 25px 0 5px 0;
}

main div
{
	background-color: #dddddd;
}

p {
	margin: 0;
}


.split {
	margin: 15px 10px 15px 10px;
	border: #00abe1 2.5px solid;
}

main ul, ol {
	background: #9cf6fb;
	border: #00abe1 2.5px solid;
	width: 60%;
}

.center {
	text-align: center;
}